<div style="padding-top: 25px">
    <div  class="dsd">
        <button pButton pRipple [label]="btnC.label" class="p-button-primary"
                [ngClass]="btnC.isActive?'new-btn':'new-btn-no'"
                style="    box-shadow: unset;margin-right:10px" (click)="selectbtnC()">

        </button>
        <button pButton pRipple [label]="btnM.label" class="p-button-primary"
                [ngClass]="btnM.isActive?'new-btn':'new-btn-no'"
                style="    box-shadow: unset;margin-right:10px"  (click)="selectbtnM()">

        </button>
        <button pButton pRipple [label]="btnFP.label" class="p-button-primary"
                [ngClass]="btnFP.isActive?'new-btn':'new-btn-no'"
                style="    box-shadow: unset;margin-right:10px"  (click)="selectbtnFP()">

        </button>
    </div>
</div>

<div style="padding-top: 25px;">
    <div>
        <div  class="suii">
        <span class="dsds">{{demande}}</span>
            <span class="p-input-icon-left" style="  width: 50%;">
                <i class="pi pi-search"></i>
                   <input type="text" pInputText  (keyup)="findByLibelle(libelleLike)" [(ngModel)]="libelleLike" />
</span>

            <button
                (click)="showAdd()"
                [label]="isAdd?'Annuler':'Ajouter'"
                [icon]="isAdd?'pi pi-times':'pi pi-plus'" iconPos="left"
                class="p-button-primary olol"
                pButton
                pRipple ></button>
        </div>

        <div  *ngIf="demande==='Demande congé' && isAdd"   class="lopm">
            <div [formGroup]="demandeCongeFrom" style="display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;">

                <input
                    placeholder="Code"
                    formControlName="code"
                    type="text"
                    pInputText
                    class="dzdzd"/>

                <input
                    placeholder="Etat"
                    formControlName="etat"
                    type="text"
                    pInputText
                    class="dsdsdsdsd"/>
                <input
                    placeholder="Libelle"
                    formControlName="libelle"
                    type="text"
                    pInputText
                    class="dsdsdsdsd"/>
                <input
                    placeholder="Jour couvrable"
                    formControlName="jourCouvrable"
                    type="number"
                    pInputText
                    class="dzzdzdzdzdzrg"/>
                <div  style="    margin-right: 30px;">
                    <p-calendar
                    formControlName="dateDebut"
                    placeholder="Date Debut"
                    [showIcon]="true"></p-calendar></div>
                <div style="    margin-right: 30px;">
                    <p-calendar
                    formControlName="dateFin"
                    placeholder="Date Fin"
                    [showIcon]="true"></p-calendar></div>




                <nb-select placeholder="Select employe" formControlName="employee" >
                    <nb-option *ngFor="let employe of employes" [value]="employe">{{employe.nom +" " +employe.prenom}}</nb-option>
                </nb-select>


            </div>
            <div style="    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;">
                <button
                    pButton
                    pRipple
                    [label]="isUpdate?'Update':'Save'"
                    class="p-button-primary"
                    style="    background-color: #673CB6;
    border: 2px solid #673CB6;"
                    [disabled]="demandeCongeFrom.invalid"
                    (click)="save()">
                </button>

            </div>
        </div>


    </div>



    <p-table [value]="demandes" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" *ngIf="demande==='Demande congé'">
            <tr>
                <th>Libelle</th>
                <th>Code</th>
                <th>Etat</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Employe</th>
                <th>Jour couvrable</th>

                <th>Action</th>

            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-demande  *ngIf="demande==='Demande congé'">
            <tr >
                <td>{{ demande.libelle }}</td>
                <td>{{ demande.code }}</td>
                <td>{{ demande.etat }}</td>
                <td >{{ demande.dateDebut | date:'shortDate'}}</td>
                <td >{{ demande.dateFin | date:'shortDate'}}</td>
                <td>{{ demande.employee.nom + " " + demande.employee.prenom }}</td>
                <td>{{ demande.jourCouvrable }}</td>
                <td>
                     <nb-icon icon="trash" style="color:red"></nb-icon>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>
