
<div style="    padding-top: 25px;">
    <div style="       background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;padding-top: 10px;">
        <span style="    font-size: 19px;
    font-weight: 600;">Liste des tâches</span>
        <input type="text" pInputText  style="width:50%"/>
    </div>
    <p-table [value]="projects" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Description</th>
                <th>Projet</th>
                <th>Date Debut</th>
                <th>Date Fin</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
            <tr>
                <td>{{ project.description }}</td>
                <td>{{ project.projet }}</td>
                <td>{{ project.datedebut }}</td>
                <td>{{ project.datefin }}</td>
            </tr>
        </ng-template>
    </p-table>

</div>
