
<div style="    padding-top: 25px;">
    <div  class="ele">
        <div class="ele2">
        <span class="tit">Liste des formations
        </span>
            <span class="p-input-icon-left" style="width: 50%;">
    <i class="pi pi-search"></i>
    <input type="text" placeholder="nom du projet" (keyup)="finByprojetLibelle(libelle)" [(ngModel)]="libelle" pInputText/></span>
            <button
                pButton
                pRipple
                [label]="!this.isAdd?'Ajouter':'Annuler'"
                class="p-button-primary bbtn"
                (click)="addElement()">
            </button>


        </div>
        <div [formGroup]="formationFrom" *ngIf="isAdd" style="padding-top: 25px;">
            <div class="def">
                <input
                    placeholder="Description"
                    type="text"
                    pInputText
                    class="frt"
                    formControlName="description"/>
                <input
                    placeholder="Code"
                    type="text"
                    pInputText
                    class="frt"
                    formControlName="code"/>
                <input
                    placeholder="Title"
                    type="text"
                    pInputText
                    class="frt"
                    formControlName="title"/>

                <p-calendar    formControlName="dateDebut" placeholder="Date debut" [showIcon]="true"></p-calendar>
                <p-calendar formControlName="dateFin" placeholder="Date fin" [showIcon]="true" class="heyhey"></p-calendar>


            </div>
            <div style="    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;">
                <button
                    pButton
                    pRipple
                    [label]="isUpdate?'Update':'Save'"
                    class="p-button-primary"
                    style="    background-color: #673CB6;
    border: 2px solid #673CB6;"
                    [disabled]="formationFrom.invalid"
                    (click)="save()">
                </button>

            </div>
            <div>
            </div>
        </div>
    </div>

    <p-table [value]="taches" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date debut</th>
                <th>Date fin</th>


                <th>Action</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-formation>
            <tr>
                <td>{{ formation.code }}</td>
                <td>{{ formation.title }}</td>
                <td>{{ formation.description }}</td>
                <td>{{ formation.dateDebut | date:'shortDate'}}</td>
                <td>{{ formation.dateFin | date:'shortDate' }}</td>
                 <td>
                      <nb-icon (click)="updateElement(formation)" icon="refresh-outline" style="color:#0aff00"></nb-icon>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>

<p-toast></p-toast>
<p-confirmDialog #cd [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <h3>Supprimer tâche</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="Non" (click)="cd.reject()" ></button>
        <button type="button" pButton icon="pi pi-check" label="Oui"  (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
