<div style="padding-top: 20px;">
    <span class="name">Hello, {{currentUser.username}} 👋</span>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; margin-top: 50px">
        <div (click)="navToElement('formationemploye')" style="cursor:pointer; width: 100%; max-width: 300px; background-color: white; border-radius: 8px; padding: 10px; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin: 10px;">
            <div style="background-color: #e4ffe0; padding: 10px; border-radius: 10px;">
                <nb-icon style="color: #469400; font-size: 40px;" icon="link-2-outline"></nb-icon>
            </div>
            <div style="font-size: 16px; font-weight: 600; margin-right: 20px; margin-left: 20px;">
                Formations
            </div>
            <div style="display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; flex: 1; font-size: 30px; font-weight: 600; color: #0ea93f;">
                {{formations.length}}
            </div>
        </div>

        <div (click)="navToElement('tacheemploye')" style="cursor:pointer;width: 100%; max-width: 300px; background-color: white; border-radius: 8px; padding: 10px; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin: 10px;">
            <div style="background-color: #d6def1; padding: 10px; border-radius: 10px;">
                <nb-icon style="color: #0031d4; font-size: 40px;" icon="grid-outline"></nb-icon>
            </div>
            <div style="font-size: 16px; font-weight: 600; margin-right: 20px; margin-left: 20px;">
                Tâches
            </div>
            <div style="display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; flex: 1; font-size: 30px; font-weight: 600; color: #0ea93f;">
                {{taches.length}}
            </div>
        </div>
        <div (click)="navToElement('demandeemploye')" style="cursor:pointer;width: 100%; max-width: 300px; background-color: white; border-radius: 8px; padding: 10px; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin: 10px;">
            <div style="background-color: #b7ffd7; padding: 10px; border-radius: 10px;">
                <nb-icon style="color: #00863b; font-size: 40px;" icon="archive-outline"></nb-icon>
            </div>
            <div style="font-size: 16px; font-weight: 600; margin-right: 20px; margin-left: 20px;">
                Demande Fiche de paie
            </div>
            <div style="display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; flex: 1; font-size: 30px; font-weight: 600; color: #0ea93f;">
                {{demadeFichePaie.length}}
            </div>
        </div>
        <div (click)="navToElement('demandeemploye')" style="cursor:pointer;width: 100%; max-width: 300px; background-color: white; border-radius: 8px; padding: 10px; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin: 10px;">
            <div style="background-color: #dbcffc; padding: 10px; border-radius: 10px;">
                <nb-icon style="color: #3b0081; font-size: 40px;" icon="file-outline"></nb-icon>
            </div>
            <div style="font-size: 16px; font-weight: 600; margin-right: 20px; margin-left: 20px;">
                Demande missions
            </div>
            <div style="display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; flex: 1; font-size: 30px; font-weight: 600; color: #0ea93f;">
                {{demadeMission.length}}
            </div>
        </div>
        <div (click)="navToElement('demandeemploye')" style="cursor:pointer;width: 100%; max-width: 300px; background-color: white; border-radius: 8px; padding: 10px; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin: 10px;">
            <div style="background-color: #efcfef; padding: 10px; border-radius: 10px;">
                <nb-icon style="color: #8a0083; font-size: 40px;" icon="file-add-outline"></nb-icon>
            </div>
            <div style="font-size: 16px; font-weight: 600; margin-right: 20px; margin-left: 20px;">
                Demande congés
            </div>
            <div style="display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; flex: 1; font-size: 30px; font-weight: 600; color: #0ea93f;">
                {{demadeConge.length}}
            </div>
        </div>
    </div>
</div>
